    @using crudcomdb.Models
@using crudcomdb.Services
@inject AuthService _auth
@inject NavigationManager _nav
@rendermode InteractiveServer

@if (_auth.EstaLogado() == true)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Pizzaria</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable"
         onclick="document.querySelector('.navbar-toggler').click()">

        <nav class="nav flex-column">

            <!-- 🏠 HOME -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>

            <!-- 👤 INFO DO USUÁRIO -->
            <div class="nav-item px-3">
                <span class="nav-link">
                    <strong>Meu Perfil</strong>
                </span>
            </div>

            <!-- 👤 CLIENTE -->
            @if (_auth.UsuarioLogado?.TipoUsuario == "Cliente")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Cardapio">
                        Cardápio
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="meus-pedidos">
                        Meus Pedidos
                    </NavLink>
                </div>
            }

            <!-- 👑 ADMIN -->
            @if (_auth.UsuarioLogado?.TipoUsuario == "Admin")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin-pedidos">
                        Pedidos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        Administração
                    </NavLink>
                </div>
            }

            <!-- 🚪 LOGOUT -->
            <div class="nav-item px-3 mt-2">
                <button class="btn btn-sm btn-danger w-100"
                        @onclick="Logout">
                    Sair
                </button>
            </div>

        </nav>

    </div>
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _auth.Inicializar();
        StateHasChanged();
    }

    private void OnAuthStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    async void Logout()
    {
        await _auth.Logout();
        _nav.NavigateTo("/login", true);
    }
}