@page "/"
@using crudcomdb.Services
@inject AuthService _auth
@inject NavigationManager _nav

<PageTitle>Home</PageTitle>

<h3>Bem-vindo à Pizzaria 🍕 @CurrentValor</h3>
<p>Você está logado como: <strong>@_auth.UsuarioLogado?.Username</strong></p>

@code {

    [Parameter]
    public string CurrentValor { get; set; } = "Teste";

    private bool _carregando = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _auth.Inicializar(); // garante recuperar da sessão
        _carregando = false;
        StateHasChanged(); // força atualizar a UI
    }
}