@page "/"
@using crudcomdb.Services
@inject AuthService _auth
@inject NavigationManager _nav
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if(_auth.EstaLogado() == false)
{
    <h3>Redirecionando para o login...</h3>
}else{
    <h3>Bem-vindo à Pizzaria 🍕</h3>
    <p>Você está logado como: <strong>@_auth.UsuarioLogado?.Username</strong></p>
}

@code {
    private bool _carregando = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _auth.Inicializar(); // garante recuperar da sessão
        _carregando = false;
        StateHasChanged(); // força atualizar a UI

        if (_auth.EstaLogado() == false)
        {
            _nav.NavigateTo("/login");
        }
    }
}